body {
    background-image: 
        url('../public/images/bg-curvy-mobile.svg'), 
        linear-gradient(
            hsl(217, 28%, 15%) 9.5%, 
            hsl(218, 28%, 13%) 9.5% 81%, 
            hsl(216, 53%, 9%) 81%);
    background-repeat: no-repeat;
    background-position: 100% 7.1%, 0 0, 0 0;
    margin: 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    margin-bottom: 20px;
    height: 40px;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    gap: 5%;
}

nav img {
    margin-right: auto;
    width: 80px;
}

.intro img {
    width: 100%;
}

.intro h1 {
    font-size: 24px;
    font-weight: 700;
}

.intro button {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 18px 80px;
    background-color: hsla(184, 46%, 51%, 0.993);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
}

.feature {
    margin-top: 80px;
    text-align: center;
}

.feature img {
    width: 25%;
    padding-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

.stay-productive {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: left;
}

.stay-productive-img {
    width: 100%;
}

.stay-productive h2 {
    margin-top: 40px;
}

a {
    color: hsl(176, 68%, 64%);
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: 7px;
}

.icon-arrow {
    margin-bottom: -5px;
    padding-left: 2px;
}

.testimonial-quotes {
    width: 20px;
    margin-bottom: -20px;
    margin-left: 5px;
}

.testimonials {
    background-color: hsl(219, 30%, 18%);
    border-radius: 6px;
    padding: 20px;
    text-align: left;
}

.testimonials p {
    font-size: 12px;
}

.person {
    display: inline-block;
    margin-left: 10px;
}

.testimonials img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.testimonials h4 {
    font-size: 12px;
    margin-bottom: 0;
}

.testimonials p2 {
    display: block;
    font-size: 10px;
}

.email-signup {
    margin-top: 130px;
    background-color: hsl(217, 28%, 15%);
    border-radius: 6px;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.email-signup input {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
    text-align: center;
}

.email-signup button {
    margin-top: 20px;
    width: 100%;
    padding: 18px;
    background-color: hsla(184, 46%, 51%, 0.993);
    border: none;
    border-radius: 30px;
    
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
}

.footer {
    margin-top: 50px;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 150px;
}

.footer p {
    margin-top: 0;
}

.contacts {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contacts img {
    margin-top: 5px;
}

.contacts-location, .contacts-phone, .contacts-email {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
}

.social-media-icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

ion-icon {
    font-size: 25px;
}

/* Desktop only (1440 px) */

@media only screen and (min-width: 900px) {

    .main-container {
        margin: 100px 80px;
    }

    nav {
        font-size: 16px;
        margin-bottom: 100px;
    }

    nav img {
        width: 180px;
    }

    .intro img {
        width: 70%;
    }
    
    .intro h1 {
        font-size: 40px;
        font-weight: 700;
    }
    
    .intro button {
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 18px 80px;
        background-color: hsla(184, 46%, 51%, 0.993);
        border: none;
        border-radius: 30px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        
        color: white;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 15px;
    }
    

}